body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation_container{
    display: flex;
    max-width: 90%;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 0 auto;

}
.navigation_links{
    
    display: flex;
    flex: 8;
    justify-content: space-evenly;
    padding: 10px;
    background-color: black;
        
}
.navigation_links a{
    color: white;
}
.logo{
    flex: 1;
}
.banner_container{
    background-image: url(/img/banner.jpg);
    min-height: 366px;
    max-width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
.main_heading_container{
    text-align: left;
    width: 40%;
}
.section_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
    margin: 0 auto;
}
.buy_now_container{
    background-color: #1c2956;
	width: 15em;
	height: 15em;
	border-radius: 50%;
	box-shadow: 0 0 1em rgba(0,0,0,0.2);
justify-self: center;
}