body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation_container{
    /* display: flex; */
    max-width: 90%;
    align-items: center;
    background-color: white;
    /* padding: 10px; */
    margin: 0 auto;

}
.navigation_links{
    
    /* display: flex;
    flex: 8; */
    justify-content: space-evenly;
    padding: 10px;
    background-color: black;
    text-transform: uppercase;
        
}
.navigation_links a{
    color: white;
    text-decoration: none;
}
.logo{
    /* flex: 1; */
    width: 200px;
    margin: 0 auto;
}
.banner_container{
    background-image: url(/img/banner.jpg);
    min-height: 325px;
    max-width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
.main_heading_container{
    text-align: left;
    /* width: 31%; */
    padding-left: 10px;
}
.section_container{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    max-width: 90%;
    margin: 0 auto;
    /* grid-gap: 20px; */
}
.buy_now_container{
text-align: -webkit-center;
justify-self: center;
}
h1, h2, h3{
    font-family: roboto;

}
.buy_text_container{
    padding-top: 30px;
    text-align: center;
    background-color: #f6f50e;
	width: 15em;
	height: 15em;
	border-radius: 50%;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    border: 20px solid #1c2956;
justify-self: center;
}
.buy_text{
    padding-top: 35px;
}
.buy_heading{
    text-align: center;
}
.content_image_specifications{
    padding-top: 30px;
}
.main_heading_text{
    padding-top: 130px;
}

@media only screen and (min-width: 600px) {

    .section_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

        
    }
    .navigation_container{
        display: flex;
        padding: 10px;
        
    
    }
    .navigation_links{
    
        display: flex;
        flex: 8;
        justify-content: space-evenly;
        padding: 10px;

            
    }
    .main_heading_container{
        width: 31%;

    }
    .buy_now_container{
        text-align:0;
        justify-self: center;
        }
        .main_heading_text{
            padding-top: 0;
        }
        .logo{
            /* flex: 1; */
            width: 100%;
            margin:0;
            flex: 1;
        }
}